<h1>{{title}}</h1>

<!-- <app-no-service-found></app-no-service-found> -->
<!-- <app-comp-self-decorator-demo></app-comp-self-decorator-demo> -->
<!-- <app-dir-self-decorator-demo></app-dir-self-decorator-demo> -->
<!-- <app-host-demo></app-host-demo> -->

<!-- <app-element-ref-demo></app-element-ref-demo> -->

<!-- <app-value-demo></app-value-demo> -->
<!-- <app-class-demo></app-class-demo> -->
<!-- <app-existing-demo></app-existing-demo> -->
<!-- <app-factory-demo></app-factory-demo> -->

<!-- <app-demo1></app-demo1>
<app-demo2></app-demo2> -->

<!-- <app-task-list></app-task-list> -->
<!-- <app-task-list-ordered></app-task-list-ordered> -->

<!-- <app-forward-ref-demo></app-forward-ref-demo> -->

<!-- <app-parent-content>
  <app-child-content></app-child-content>
</app-parent-content> -->

<!-- <app-mprovider-demo></app-mprovider-demo> -->

<!-- <app-ng-on-destroy></app-ng-on-destroy> -->
